html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Microsoft JhengHei";
  background-color: black;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

.hidden {
  display: none;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  flex: auto;
  min-height: 0;
  display: flex;
  justify-content: center;
}

.block {
  position: relative;
}

.block > svg {
  display: block;
  width: 100%; /* !!! */
  height: 100%; /* !!! */
}

.block > .fill {
  display: flex;
  flex-direction: column;
}

.block .mask {
  pointer-events: none;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2) 80%, rgba(0,0,0,0.5));
}

.block .bottom {
  pointer-events: none;
  position: relative;
  margin-top: auto;
}

.song {
  text-align: center;
}

.song .name {
  font-size: 14px;
	margin-bottom: 6px;
	font-weight: bold;
}

.song .extra {
	font-size: 12px;
	opacity: 0.65;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  padding: 0px 8px;
  margin-bottom: 6px;

  font-size: 9px;
  opacity: 0.7;
}

.progress {
  position: absolute;
  width: 100%;
  bottom: -9px;
  height: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  --progress: 0;
}

.progress .before {
  height: 2px;
  background-color: #fff;
  /* width: 0px; */
  width: calc(var(--progress) * (100% - 12px));
  flex: none;
}

.progress .cursor {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
}

.control {
  flex: none;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control button {
  width: 32px;
  height: 32px;
  margin: 7px;
  transition: 200ms ease opacity;
  border-radius: 50%;
}

.control button:hover {
  opacity: 0.6;
}
.control button:active {
  opacity: 0.9;
}

.control button:nth-of-type(3) {
  border: 1px solid white;
  width: 46px;
  height: 46px;
  margin: 0;
}

.control button svg {
  display: block;
  margin: auto;
  width: 16px;
  height: 16px;
}

.control button:nth-of-type(n+2):nth-last-of-type(n+2) svg {
  width: 18px;
  height: 18px;
}

.control button[on] {
  background-color: rgba(255,255,255,0.2);
}